*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;

}



h5{
    color: brown;
    font-size: 50px;
    font-variant: small-caps;
    text-decoration: overline;
    /* letter-spacing: 20px; */
    word-spacing: 20px;
    background-color: rgb(220, 197, 153);
 }
 #para2{
    /* color: chocolate;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(26, 168, 168); */
    border: 50px dashed orange;
    text-align: center;
    

 }

 .para1{
    color: rgb(208, 41, 91);
    border-width: 5px;
    border-style: solid;
    border-color: black;
    padding: 50px;
    margin: 50px;
    text-align: center;
 }
 #lord

{
    background-color:pink;
}

 h4{
    border:50px solid pink;
    margin: 30px;
    padding: 30px;
    width: 50px;
    height: 50px;
     text-align: center; 
     background-color:brown; 
    border-radius:50%;



 }

 .main5{
   width: 50px;
   height: 50px;
   /* background-color:red: */
   border: 2px solid black;
   background-image:url(./-------);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   text-align: center;


 }